<%- include('./layouts/header.ejs')%> <%
if(user){ %>
<!-- <%if(typeof file != 'undefined'){%>
<img src="<%= file%>" alt="profile" style="width: 200px;height: 200px;border-radius: 50%; margin-left: auto; margin-right: auto; display: block;">
<br>
<%}%>
    <div class="container-fluid">
      <h1 class="user">Welcome, <%= user%> </h1>
</div>
<form action="/" method="post" enctype="multipart/form-data">
  <div class="file-container">
    <div class="upload">
      <label for="upload" class="form-label">Upload Profile Picture</label>
      <input class="form-control form-control-lg" id="formFileLg" name="myImage" type="file">
    </div>
    <div class="file-btn">
      <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
    </div>
  </div>
</form>
<% if(typeof(alert) != 'undefined') {%>
<div class="container-fluid">
  <div style="width: 20%; margin-left: auto; margin-right: auto;" class="alert alert-warning alert-dismissible fade show" role="alert"><%=alert%>
  </div>
  <%}%>
    </div>-->
<section class="vh-100" style="background-color: #f4f5f7">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0">
            <div
              class="col-md-4 text-center"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                alt="Avatar"
                class="img-fluid my-5"
                style="width: 80px"
              />
              <h5><%= user.name %></h5>
              <p><%= user.email %></p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Birth Date</h6>
                    <p class="text-muted"><%= user.birthDate %></p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p class="text-muted"><%= user.phoneNumber %></p>
                  </div>
                </div>
                <h6>Ready for Quiz</h6>
                <hr class="mt-0 mb-4" />
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <a class="btn btn-primary" href="/quiz" role="button"
                      >Start</a
                    >
                  </div>
                  <div class="col-6 mb-3">
                    <a class="btn btn-secondary" href="/logout" role="button"
                      >Signout</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% }%> <%- include('./layouts/footer.ejs')%>
